/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* End of Box sizing */

/* Global Styles */

header {
  height: 68px;
  width: 100%;
  display: flex;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: space-between;
}
nav {
  width: 80vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
header ul {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #333e4d;
}

header a:hover,
header a:active,
header a:focus {
  text-decoration: underline;
}

body {
  font-family:"Karla", sans-serif;
  color: #333e4d;
  background: cornflowerblue;
}

/* Banner */

.hero-banner {
  width: 100%;
  background-image: url(../images/banner-amelia.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.name {
  position: absolute;
  width: 100%;
  top: 20vh;
  text-align: center;
  font-size: 2rem;
}

.name h1 {
  font-size: 3rem;
  margin-bottom: .5em;
}

.name h2 {
  color: cornflowerblue;
}

.about {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 1em;
  background: #FFF;
}

.about h1 {
  text-align: center;
  margin-bottom: 1em;
  margin: .5em 0;
}
 
.about p {
   line-height: 1.5rem;
   font-size: 1rem;
}

.about h2 {
  width: 100%;
  margin: 1em 0;
  font-size: .75em;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #ede5f3;
}

.page-title {
  width: 50%;
 }

.community {
  width: 100%;
  margin-top: 1em;
}

.canada-learning-code {
  width: 100%;
  height: 50px;
  margin-top: .5em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/canada_learning_code.png");
}
.tools {
  width: 50%;
}

.tool-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
}
.tool-item {
  flex: 1 0 25%;
  margin-bottom: .5em;
  width: 45px;
  height: 45px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.tool-item:first-of-type {
  background-image: url("../images/pencil_icon.png");
}

.tool-item:nth-of-type(2){
 background-image: url("../images/paintbrush.png");
}

.tool-item:nth-of-type(3){
background-image: url("../images/Photoshop_CC_icon.png");
}

.tool-item:nth-of-type(4){
background-image: url("../images/adobe_illustrator.png");
}

.tool-item:nth-of-type(5){
background-image: url("../images/invision_icon.png");
}

.tool-item:nth-of-type(6){
background-image: url("../images/balsamiq_icon.png");
}

.tool-item:nth-of-type(7){
  background-image: url("../images/marvel-app_icon.png");
}

.tool-item:nth-of-type(8){
background-image: url("../images/html_icon.png");  
}

.tool-item:nth-of-type(9){
 background-image: url("../images/css_icon.png"); 
}

.tool-item:nth-of-type(10){
  background-image: url("../images/javascript_icon.svg");
}

.tool-item:nth-of-type(11){
  background-image: url("../images/php_icon.png");
}

.tool-item:nth-of-type(12){
  background-image: url("../images/jquery_icon.png");
}

.tool-item:nth-of-type(13){
  background-image: url("../images/wordpress_icon.png");
}

.tool-item:nth-of-type(14){
  background-image: url("../images/github.png");
}

.tool-item:nth-of-type(15){
  background-image: url("../images/visual-studio-code_icon.png");
}

.tool-item:nth-of-type(16){
  background-image: url("../images/slack_icon.png");
}

.backtotop {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5em;
  margin-top: 1em;
}
.backtotop a {
  color: cornflowerblue;
}
.impact {
  width: inherit;
  height: 300px;
  background: url("../images/impact-scholarship.png");
}

.read-more {
  text-align: center;
  margin-bottom: 1em;
}

.read-more a {
  font-size: 1.5rem;
}
.award-banner {
  width: 100%;
  height: 400px;
  background-image: url("../images/this-could-be-you.jpg");
  background-attachment: fixed;
  background-size: cover;
}
/* Project section */

.projects-banner {
  width: 100%;
  height: 400px;
  background-image: url("../images/thinking and learning.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.projects {
  width: 80vw;
  margin: 0 auto;
  background: #fff;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  padding-top: 2em;
}
.projects-item {
  flex: 1 0 100%;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 5em;
  position: relative;
}

.visit {
  position: absolute;
  bottom: -20vh;
  left: 45%;
  font-size: .75em;
  padding: 0 .25em;
  border-radius: 5%;
  background: cornflowerblue;
}

.visit a {
  color: #ede5f3;
  text-decoration: none;
}
.projects-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
.projects-item:nth-of-type(1) {
  background-image: url("../images/pong.png");
}

.projects-item:nth-of-type(2) {
  background-image: url("../images/web-world.png");
}

.projects-item:nth-of-type(3) {
  background-image: url("../images/lovesea.png");
  margin-bottom: 2em;
}


/* Gallery section */
.gallery {
  width: 80vw;
  margin: 0 auto;
  background: #fff;
  font-size: 2rem;
  text-align: center;
  line-height: 10rem;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  flex: 0 0 50%;
  margin-bottom: .5em;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-item:nth-of-type(1){
  background-image: url("../images/logo-sketch.jpg");
}

.gallery-item:nth-of-type(2){
  background-image: url("../images/amelia-logo.svg");
}

.gallery-item:nth-of-type(3){
  background-image: url("../images/Logo design Red Academy.png");
}

.gallery-item:nth-of-type(4) {
  background-image: url("../images/red_logo.png");
}

/* contact */

.footer-banner {
  background-image: url("../images/amelia_garvin_9.jpg");
  width: 100%;
  /* background-image: url(../images/banner-amelia.jpg); */
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
}


.contact {
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  color: #ede5f3;
}
.contact h1 {
  font-size: 2rem;
}
.email a {
color: #ede5f3;
text-decoration: none;
}
.social-media-links {
  display: flex;
  margin: 1em 0;
  font-size: 2rem;
  justify-content: space-evenly;
}

.social-media-links a {
  color: #ede5f3;
}

.contact .backtotop a{
  font-size: 2rem;
  color:#ede5f3;
}

/* Start of media queries */

@media only screen and (max-width: 900px) {


}