/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* End of Box sizing */

/* Global Styles */

header {
  height: 68px;
  width: 100%;
  display: flex;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: space-between;
}
nav {
  width: 80vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
header ul {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #333e4d;
}

header a:hover,
header a:active,
header a:focus {
  background: #333e4d;
  color:#ede5f3;
}

body {
  font-family:"Karla", sans-serif;
  color: #333e4d;
  background: #ede5f3;
}

/* Banner */

.hero-banner {
  width: 100%;
  background-image: url(../images/banner-amelia.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.name {
  position: absolute;
  width: 100%;
  top: 20vh;
  text-align: center;
  font-size: 2rem;
}

.name h1 {
  font-size: 3rem;
  margin-bottom: .5em;
}

.about {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 1em;
  background: #FFF;
}

.about h1 {
  text-align: center;
  margin-bottom: 1em;
}
.page-title {
  width: 50%;
 }
 
.description {
   line-height: 1.5rem;
   font-size: 1rem;
}
.tools {
  width: 50%;
}

.tool-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
}
.tool-item {
  flex: 1 0 25%;
  margin-bottom: .5em;
  width: 45px;
  height: 45px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.tool-item:first-of-type {
  background-image: url("../images/pencil_icon.png");
}

.tool-item:nth-of-type(2){
 background-image: url("../images/paintbrush.png");
}

.tool-item:nth-of-type(3){
background-image: url("../images/Photoshop_CC_icon.png");
}

.tool-item:nth-of-type(4){
background-image: url("../images/adobe_illustrator.png");
}

.tool-item:nth-of-type(5){
background-image: url("../images/invision_icon.png");
}

.tool-item:nth-of-type(6){
background-image: url("../images/balsamiq_icon.png");
}

.tool-item:nth-of-type(7){
  background-image: url("../images/marvel-app_icon.png");
}

.tool-item:nth-of-type(8){
background-image: url("../images/html_icon.png");  
}

.tool-item:nth-of-type(9){
 background-image: url("../images/css_icon.png"); 
}

.tool-item:nth-of-type(10){
  background-image: url("../images/javascript_icon.svg");
}

.tool-item:nth-of-type(11){
  background-image: url("../images/php_icon.png");
}

.tool-item:nth-of-type(12){
  background-image: url("../images/jquery_icon.png");
}

.tool-item:nth-of-type(13){
  background-image: url("../images/wordpress_icon.png");
}

.tool-item:nth-of-type(14){
  background-image: url("../images/github.png");
}

.tool-item:nth-of-type(15){
  background-image: url("../images/visual-studio-code_icon.png");
}

.tool-item:nth-of-type(16){
  background-image: url("../images/slack_icon.png");
}


/* container section */
.container {
  position: relative;
  margin: 5rem 0;
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.item {
  background-image: url("../images/ideation-sketch.png");
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 25%;
  display: flex;
  padding: 0.5rem;
  background-position: center;
  background-position-y: 4px;
}

.item:nth-of-type(2) {
  background-image: url("../images/ideation-simplified.svg");
  background-size: contain;
  background-position: center;
  background-position-y: 5px;
}

.item:nth-of-type(3) {
  background-image: url("../images/creation-simplified.svg");
  background-size: contain;
  background-position: center;
}

.item:nth-of-type(4) {
  background-image: url("../images/iteration-simplified.svg");
  background-size: contain;
  background-position: center;
}
.right-side {
  padding: 0 .5rem;
  width: 100%;
  background: #FFF;
  border-bottom: .25em solid #000;
}

/* Gallery */
.gallery-banner {
  width: 100%;
  height: 400px;
  background-image: url(../images/amelia_garvin_9.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.gallery {
  width: 100%;
}
.gallery-big-square {
width: 50vh;
height: 500px;
background-image: url('../images/logo-ideation-sketch.jpg');
}
.gallery-item {
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 50%;
  display: flex;
  padding: 0.5rem;
  background-position: center;
}
.gallery-item:first-of-type {
  background-image: url("../images/ideation-sketch.png");
}

/* contact */
footer { 
  background: #000;
  height: 10rem;
  margin-top: 5rem;
  position: relative;
  bottom: 0;
  left: 0;
}

/* Start of media queries */

@media only screen and (max-width: 900px) {
.container {
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}


.left-side ul {
  flex-direction: row;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  border-top: .25em solid #000; 
  border-right: none;
} 

.right-side {
  width: 100%;
  background: #FFF;
  border-bottom: .25em solid #000;
}

}